<a href="https://colab.research.google.com/github/cubino/cubino/blob/master/big_data_final_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Загрузите в колаб файлы по оценкам (ratings) и фильмам (movies) и создайте на их основе pandas-датафреймы

In [7]:
from google.colab import files
uploaded = files.upload()

Saving ratings.csv to ratings.csv

In [0]:
import io
import pandas as pd

movies_df = pd.read_csv(io.BytesIO(uploaded['movies.csv']))

In [0]:
ratings_df = pd.read_csv(io.BytesIO(uploaded['ratings.csv']))

# Средствами Pandas, используя dataframe ratings, найдите id пользователя, поставившего больше всего оценок

In [9]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [24]:
gr_df = ratings_df.groupby('userId').count()
gr_df.sort_values('movieId', ascending=0).head(3)

        movieId  rating  timestamp
userId
414        2698    2698       2698
599        2478    2478       2478
474        2108    2108       2108

In [0]:
user_id_for_work = 414

# Оставьте в датафрейме ratings только те фильмы, который оценил данный пользователь

In [0]:
df_temp = ratings_df[ratings_df['userId'] == user_id_for_work]

In [78]:
#movie_ids = df_temp['movieId'].tolist()
#ratings = ratings_df[ratings_df['movieId'].isin(movie_ids)]
ratings = df_temp
ratings.describe()

       userId        movieId       rating     timestamp
count  2698.0    2698.000000  2698.000000  2.698000e+03
mean    414.0   19267.150111     3.391957  1.075614e+09
std       0.0   34426.860279     0.933307  1.518506e+08
min     414.0       1.000000     0.500000  9.614362e+08
25%     414.0    2007.750000     3.000000  9.615170e+08
50%     414.0    4231.500000     3.500000  1.018291e+09
75%     414.0    8613.250000     4.000000  1.129977e+09
max     414.0  187595.000000     5.000000  1.527978e+09

# Добавьте к датафрейму из задания 3 столбцы:
По жанрам. Каждый столбец - это жанр. Единицу записываем, если фильм принадлежит данному жанру и 0 - если нет
столбцы с общим количеством оценок от всех пользователей на фильм и суммарной оценкой от всех пользователей

In [0]:
all_genres = []

def convert_genres(str):
  parts = str.split('|')
  for part in parts:
    if part not in all_genres:
      all_genres.append(part)

In [71]:
movies_df['genres'].apply(convert_genres)
all_genres

['Adventure',
 'Animation',
 'Children',
 'Comedy',
 'Fantasy',
 'Romance',
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Horror',
 'Mystery',
 'Sci-Fi',
 'War',
 'Musical',
 'Documentary',
 'IMAX',
 'Western',
 'Film-Noir',
 '(no genres listed)']

In [79]:
def add_genr(movie_id, test_genr):
  if test_genr in movies_df[movies_df['movieId'] == movie_id].iloc[0]['genres']:
    return 1
  else:
    return 0


for genr in all_genres:
  ratings[genr] = ratings['movieId'].apply(add_genr, test_genr = genr)
  print(genr)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

Adventure
Animation
Children
Comedy
Fantasy
Romance
Drama
Action
Crime
Thriller
Horror
Mystery
Sci-Fi
War
Musical
Documentary
IMAX
Western
Film-Noir
(no genres listed)

In [80]:
def add_total_count(movie_id):
  temp = ratings_df.groupby('movieId').count().reset_index()
  return temp[temp['movieId'] == movie_id].iloc[0]['rating']

ratings['total_count'] = ratings['movieId'].apply(add_total_count)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [82]:
def add_sum_rating(movie_id):
  temp = ratings_df.groupby('movieId').sum().reset_index()
  return temp[temp['movieId'] == movie_id].iloc[0]['rating']

ratings['sum_rating'] = ratings['movieId'].apply(add_sum_rating)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [88]:
movies_df.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [124]:
def add_year(movie_id):
  title = movies_df[movies_df['movieId'] == movie_id].iloc[0]['title']
  result = ''
  start = False
  for c in title:
    if c is '(':
      start = True
      continue
    elif c is ')':
      try:
        return int(result)
      except BaseException:
        return 1910
    elif start:
      result = result + c
    return 1910


ratings['year'] = ratings['movieId'].apply(add_year)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [125]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2698 entries, 62294 to 64991
Data columns (total 27 columns):
userId                2698 non-null int64
movieId               2698 non-null int64
rating                2698 non-null float64
timestamp             2698 non-null int64
Adventure             2698 non-null int64
Animation             2698 non-null int64
Children              2698 non-null int64
Comedy                2698 non-null int64
Fantasy               2698 non-null int64
Romance               2698 non-null int64
Drama                 2698 non-null int64
Action                2698 non-null int64
Crime                 2698 non-null int64
Thriller              2698 non-null int64
Horror                2698 non-null int64
Mystery               2698 non-null int64
Sci-Fi                2698 non-null int64
War                   2698 non-null int64
Musical               2698 non-null int64
Documentary           2698 non-null int64
IMAX                  2698 non-null int64
Western               2698 non-null int64
Film-Noir             2698 non-null int64
(no genres listed)    2698 non-null int64
total_count           2698 non-null int64
sum_rating            2698 non-null float64
year                  2698 non-null int64
dtypes: float64(2), int64(25)
memory usage: 670.2 KB

# Сформируйте X_train, X_test, y_train, y_test

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression

In [0]:
X, y = ratings[['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy', 'Romance', 
           'Drama', 'Action', 'Crime', 'Thriller', 'Horror', 'Mystery', 'Sci-Fi', 'War', 'Musical', 'Documentary', 'IMAX', 'Western', 'Film-Noir', '(no genres listed)', 'total_count', 'sum_rating', 'year'
           ]], ratings['rating']

In [0]:
# Разделяем данные на данные для обучения и проверки
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

# Возьмите модель линейной регрессии (или любую другую для задачи регрессии)  и обучите ее на фильмах

In [128]:
linear = LinearRegression()
linear.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Оцените качество модели на X_test, y_test при помощи метрик для задачи регрессии

In [0]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [130]:
print(f'mean_squared_error = {mean_squared_error(y_test, linear.predict(X_test))}')
print(f'r2_score = {r2_score(y_test, linear.predict(X_test))}')
print(f'mean_absolute_error = {mean_absolute_error(y_test, linear.predict(X_test))}')

mean_squared_error = 0.6569781432817157
r2_score = 0.24560867689023624
mean_absolute_error = 0.6444010596245419

# Загрузить данные в spark

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [0]:
!wget -q http://www-us.apache.org/dist/spark/spark-2.3.4/spark-2.3.4-bin-hadoop2.7.tgz

In [0]:
!tar -xvf spark-2.3.4-bin-hadoop2.7.tgz

In [0]:
!pip install -q findspark

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.4-bin-hadoop2.7"

In [0]:
import findspark
findspark.init('/content/spark-2.3.4-bin-hadoop2.7')
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate()

In [0]:
spark_ratings_df = spark.createDataFrame(ratings_df)
spark_movies_df = spark.createDataFrame(movies_df)

# Средствами спарка вывести среднюю оценку для каждого фильма

In [139]:
df_grp = spark_ratings_df.groupBy('movieId')
df_avg = df_grp.avg("rating")
df_avg.show()

+-------+------------------+
|movieId|       avg(rating)|
+-------+------------------+
|   2529|3.8035714285714284|
|  60756|3.5535714285714284|
|    474| 3.692857142857143|
|     26|               3.5|
|  72011|           3.71875|
|   1806|            2.3125|
|   2040| 2.857142857142857|
|   2453|2.1666666666666665|
| 102993|             3.125|
|     29|4.0131578947368425|
|   6721| 3.357142857142857|
|  96829|               4.3|
|   3764|               2.3|
| 106100|3.9705882352941178|
| 106002|            3.4375|
|   4823|              3.14|
|  45726|2.1666666666666665|
|  51709|               4.0|
|  69720|               4.5|
|  91261|               3.5|
+-------+------------------+
only showing top 20 rows

# Посчитайте средствами спарка среднюю оценку для каждого жанра

# В спарке получить 2 датафрейма с 5-ю самыми популярными и самыми непопулярными фильмами (по количеству оценок, либо по самой оценке - на Ваш выбор)

In [0]:
from pyspark.sql.functions import desc, asc

best_films = df_avg.sort(desc("avg(rating)")).limit(5)
worst_films = df_avg.sort(asc("avg(rating)")).limit(5)

In [158]:
print('Топ 5 лучших фильмов')
best_films.show()
print('Топ 5 худших фильмов')
worst_films.show()

Топ 5 лучших фильмов
+-------+-----------+
|movieId|avg(rating)|
+-------+-----------+
|   5241|        5.0|
|   5888|        5.0|
| 172587|        5.0|
|  95149|        5.0|
| 172793|        5.0|
+-------+-----------+

Топ 5 худших фильмов
+-------+-----------+
|movieId|avg(rating)|
+-------+-----------+
|  26717|        0.5|
|   7742|        0.5|
| 107013|        0.5|
|   4371|        0.5|
| 145951|        0.5|
+-------+-----------+